node_modules
dist
coverage
.git
.github
docs
infra/*
!infra/database/
infra/database/*
!infra/database/migrations/
!infra/database/migrations/**
scripts
tests
*.log
.env
.env.*
!.env.example
Dockerfile*
docker-compose*.yml
README.md
