aws_region            = "sa-east-1"
project_name          = "laje"
environment           = "staging"
vpc_cidr              = "10.42.0.0/16"
app_port              = 3000
postgres_engine_version = "17"
db_instance_class     = "db.t4g.micro"
db_name               = "laje_staging"
db_master_username    = "laje_admin"
backup_retention_days = 7
